.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 5px;
  transition: all 0.3s;
  width: 45px;
  height: 42px;
  color: white !important;
  border-radius: 100px;
  border: none;
  font-size: 1.2em !important;
  cursor: pointer;
  text-decoration: none;
}

.icon-button .icon {
  font-size: 25px;
  display: flex;
  transition: all 0.5s;
}

.icon-button .text {
  display: none;
  margin-left: 15px;
  transition: all 1s;
  opacity: 0;
}

.icon-button:hover {
  width: 190px;
  box-shadow: 0 0 3px rgba(1, 97, 252, 0.566);
}

.icon-button:hover .icon {
  text-shadow: 0px 0px 1px white;
  transform: scale(1.1);
}

.icon-button:hover .text {
  display: block;
  font-weight: 500;
  opacity: 1;
  transform: scale(1.1);
}

.fa-chevron-right {
  margin-left: 10px;
  display: none !important;
  animation: moveIcon infinite;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
}

.icon-button:hover .fa-chevron-right {
  display: block !important;
}

@keyframes moveIcon {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  70% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(8px);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .icon-button:hover .text {
    display: none;
  }

  .icon-button:hover {
    width: 80px;
  }
}
