iframe {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.card a {
  text-decoration: none;
  color: #2c6bea;
  font-size: 1.5em;
  text-shadow: 0px 0px 1px rgba(20, 20, 170, 0.222);
}

.card h2 {
  margin-bottom: 5px;
  font-size: 1.8vw !important;
  font-family: 'Oxanium', cursive;
}

.cellphone, .notebook {
  position: relative;
} 

.screen {
  border: none;
  position: absolute;
}

.notebook-frame {
  width: 89.4vw;
  height: 47.5vw;
}

.notebook .screen {
  left: 14.5vw;
  top: 2.5vw;
  width: 60vw;
}

.cellphone-frame {
  position: absolute;
  width: 16.5vw;
  top: -44vw;
  left: -47vw;
}

.cellphone .screen {
  width: 47.5vw;
  top: -41.5vw;
  left: -62.3vw;
  z-index: -1;
}

.gambi {
  position: absolute;
  width: 3.12vw;
  height: 34vw;
  top: -44vw;
  left: -50vw;
  z-index: 1;
  background-color: #ebebeb;
}

dialog::backdrop {
  background-color: rgba(0,0,0,.8);
}

dialog {
  margin: auto;
  padding: 25px;
  border-radius: 15px;
  background-color: #ebebeb;
  box-shadow: 0px 0px 2px #ebebeb;
  outline: none;
  overflow: hidden;
  border: none;
}

.dialog-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

dialog .fa-xmark {
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(155, 0, 0);
  font-size: 25px;
  cursor: pointer;
  transition: all 1s;
}

dialog .fa-xmark:hover {
  transform: scale(1.35);
  color: red;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

dialog video {
  display: none;
}

dialog p {
  text-align: justify;
}

dialog h4 {
  margin-top: 5px;
  font-family: 'Oxanium', cursive;
}

dialog aside ol {
  margin: 4px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px;
}

.icons {
  position: absolute;
  bottom: -15px;
  right: -15px;
}

@media screen and (min-width: 1440px) {
  .cellphone video {
    display: none;
  }
  
  iframe {
    display: block;
  }

  .card {
    margin-top: 100px;
  }

  .card h2 {
    font-size: 1.5em;
  }
  
  .cellphone {
    width: 360px;
    margin-top: -732px;
    margin-right: 72%;
  }
  
  .cellphone-frame {
    position: relative;
    top: -98px;
    left: 15px;
    width: 360px;
    z-index: 1;
  }
  
  .notebook-frame {
    margin-left: 252px;
    width: 1570px;
    height: 832px;
    z-index: -1;
    position: relative;
  }
  
  .notebook .screen {
    top: 44px;
    left: 520px;
    width: 1039px;
    z-index: 1;
  }
  
  .cellphone .screen {
    top: -77px;
    left: 39px;
    width: 87%;
    z-index: 1;
    border-radius: 30px;
  }

  dialog {
    width: 1015px;
    height: 370px;
  }

  dialog aside {
    margin-left: 20px;
  }

  dialog video {
    display: block;
    width: 550px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
  }
}

.btn {
  width: 280px;
  height: 40px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  position: relative;
  background-color: transparent;
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.6;
}

.btn::after {
  content: '';
  border-bottom: 3px double black;
  width: 0;
  height: 100%;
  position: absolute;
  margin-top: -5px;
  top: 0;
  left: 5px;
  visibility: hidden;
  opacity: 1;
  transition: .2s linear;
}

.btn .icon {
  transform: translateX(0%);
  transition: .2s linear;
  animation: attention 1.2s linear infinite;
}

.btn:hover::after {
  visibility: visible;
  opacity: 0.7;
  width: 90%;
}

.btn:hover {
  letter-spacing: 2px;
  opacity: 1;
}

.btn:hover > .icon {
  transform: translateX(30%);
  animation: none;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(30%);
  }
}
