header {
  width: 100%;
  height: 90px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /*glass effect */
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.37);
}

.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  width: 100vw;
  justify-content: center;
}